/* FONTS

font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  font-weight: normal;
  color: #ffffff;
  background: #000;
}

img {
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

/* header style start */

header {
  position: absolute;
  width: 100%;
  
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  height: 90px;
  padding-left: 20px;
  padding-right: 10px;
}

.header-logo-link {
  transition: 0.3s;
}

.header-logo-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: inline-block;
  margin-left: auto;
  margin-right: 31px;
  width: 437px;
  height: 50px;
}

.switch-lang {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 50px;
  transition: 0.2s linear;
}

.header-link {
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s linear;
}

.switch-en {
  color: #bdae82;
  text-decoration: none;
}

.switch-lang {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  margin-right: 0;
}

.switch-ru {
  color: #ffffff;
  text-decoration: none;
}

.header-link:hover,
.switch-en:hover,
.header-link:focus,
.switch-en:focus,
.header-link:active,
.switch-ru:active,
.switch-ru:hover,
.switch-ru:focus,
.switch-en:active {
  color: #bdae82;
  outline: none;
}

/*Header styles end */

/*Hero styles start */

.hero {
  height: 910px;
  background: url(./assets/img/bg/bg.jpg) no-repeat top;
  background-size: 1440px 910px;
  padding-top: 250px;
  padding-left: 80px;
  max-width: 1440px;
  margin: 0 auto;
  
}

.hero-title {
  
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
}

.hero-subtitle {
  max-width: 470px;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 25px;
}

.hero-hire-me_button {
  width: 220px;
  padding: 8px 73px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  background: #bdae82;
  border: 0;
  transition: 0.4s linear;
}

.hero-hire-me_button:hover,
.hero-hire-me_button:focus {
  color: #ffffff;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.hero-hire-me_button:active {
  background-color: #705a17;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/*Hero styles end */

/*Skils styles start */

.skills {
  max-width: 1440px;
  margin: 0 auto;
}

.section-wrap {
  max-width: 100%;
  margin: 0 auto;
}

.title-container {
  max-width: 700px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto 60px auto;
}

.skills-title {
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  margin: 0 20px;
  color: #bdae82;
}

.border-title {
  width: 100%;
  border: 1px solid #bdae82;
  margin: 0;
}

.skill-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  padding: 0 20px;
}

.skill-card-pic {
  max-width: 66px;
  margin: 0 auto 50px auto;
}

.skill-card-thumb {
  display: block;
  margin: 0 auto;
}

.skill-card-ttile {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.skill-card-desc {
  max-width: 280px;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto 10px auto;
  text-align: center;
}

/*Skils styles end */

/*Portfolio styles start */

.portfolio {
  max-width: 1440px;
  margin: 0 auto;
}

.portfolio-season-button {
  width: 220px;
  height: 55px;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  background-color: #000000;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  border: 2px solid #bdae82;
  margin-right: 5px;
  transition: 0.4s linear;
}

.portfolio-season-button:last-child {
  margin-right: 0;
}

.portfolio-season-button:hover {
  color: #ffffff;
}
.portfolio-season-button:active {
  background-color: #bdae82;
}
.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.partfolio-cards {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: 0 auto;
}

.partfolio-card-pic {
  height: 560px;
  object-fit: cover;
  transition: 0.15s all;
}
.partfolio-card {
  margin: 0;
}

.partfolio-card:hover .partfolio-card-pic {
  transform: scale(0.98);
}

/*Portfolio styles end */

/*video styles start */

.video {
  max-width: 1440px;
  margin: 0 auto;
}

.video-player {
  max-width: 1440px;
  height: 705px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/img/video-player.png") no-repeat center;
  background-position: 0 auto;
}

.video-play-button {
  position: absolute;
  z-index: 2;
  background: transparent;
  border: 0;
}
.video-play-button-pic {
  height: 130px;
  transition: 0.3s;
}

.video-play-button:active {
  transform: scale(1.15);
}

.video-play-button-pic:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transform: scale(1.05);
}

.video-background {
  max-width: 1400px;
  z-index: 1;
}

/*video styles end */

/*Price styles start */

.price {
  max-width: 1440px;
  margin: 0 auto;
}

.price-cards {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.price-card {
  width: 450px;
  height: 505px;
  text-align: center;
  border: 4px solid #bdae82;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  margin-right: 25px;
}

.price-card:last-child {
  margin-right: 0;
}

.price-card-title {
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 40px;
}

.price-card-price {
  font-family: Merriweather;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  color: #bdae82;
  margin-top: 20px;
  margin-bottom: 20px;
}

.price-card-info {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
}

.price-card-button {
  width: 220px;
  height: 55px;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  background-color: #bdae82;
  text-align: center;
  border: 0;
  margin: 40px auto 40px auto;
  transition: 0.3s linear;
}

.price-card-button:hover {
  color: #ffffff;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
}

.price-card-button:active {
  background-color: #705a17;
}

.price-card-info-container {
  max-width: 364px;
  max-height: 180px;
  margin: 0 auto;
}

/*Price styles end */

/*Contact styles start */

.contacts {
  max-width: 1440px;
  margin: 100px auto 0 auto;
  background: url(./assets/img/bg/contacts.jpg) no-repeat;
  background-size: auto 700px;
  background-position: center center;
}

.contacts-wrap {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

.contact-submit-button {
  width: 220px;
  height: 55px;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  background-color: #bdae82;
  text-align: center;
  border: 0;
  margin: 30px auto 40px auto;
  transition: 0.3s linear;
}

.contact-submit-button:hover {
  color: #ffffff;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
}

.contact-submit-button:active {
  background-color: #705a17;
}

.contacts-form-message {
  width: 450px;
  max-height: 100px;
  resize: none;
  background-color: transparent;
  border: 2px solid #bdae82;
  padding-left: 20px;
  padding-top: 3px;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  padding-right: 20px;
  transition: 0.4s linear;
}

.contacts-form-wrap {
  max-width: 450px;
}
.contacts-form-info {
  max-width: 450px;
}

.contacts-field {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid #bdae82;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  transition: 0.4s linear;
}
.contacts-field:focus,
.contacts-field:hover {
  background: #000000;
  border-color: #ffffff;
}

.contacts-field::placeholder {
  color: #bdae82;
  font-size: 20px;
}
.contacts-form-message:focus,
.contacts-form-message:hover {
  background: #000000;
  border-color: #ffffff;
}

.contacts-form-message::placeholder {
  max-width: 450px;
  color: #bdae82;
  font-size: 22px;
}

.contacts-title {
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  color: #bdae82;
  margin-bottom: 40px;
}
.fileds-container {
  max-width: 450px;
  text-align: left;
  position: absolute;
  top: 60px;
  right: 20px;
}

/*Contact styles end */

/*Footer styles start */

.footer {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.footer-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 20px;
  align-items: center;
}
.social-link {
  width: 32px;
  display: inline-block;
  align-items: center;
  padding: 0;
  margin: 0;
}
.social-link-type {
  margin-left: 0;
  transition: 0.3s linear;
}
.social-types {
  width: 188px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rs-school {
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}

.git-link {
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s linear;
}

.my-git {
  display: inline-block;
  padding-right: 13px;
}
.git-link:hover,
.git-link:focus,
.git-link:focus {
  color: #bdae82;
}

.year {
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
}

.footer-c {
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  padding: 0;
}

.copy-item {
  width: 182px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-link-type:hover,
.social-link-type:active,
.social-link-type:focus {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  outline: none;
}