/* FONTS 
font-family: 'Merriweather', serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* hover style 

    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);

*/


/*asdfdsaf*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --bg-dark: #000000;
    --color-gold: #BDAE82;
    --color-white: #ffffff;
    --font1: 60px;
    --font2: 40px;
  }

* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth; 
    background-color: var(--bg-dark);
  }


.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }


.body {
    height: 100%;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    
  }
  .header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
  }


/*body {
    background-color: #000000;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}



.header {
    position: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1440px;
    height: 910px;
    left: 0px;
    top: 0px;
}



.header-container {
    position: absolute;
    width: 1440px;
    height: 90px;
    left: 0px;
    top: 0px;
    
    background-image: url('./assets/img/bg/bg.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
}*/

.header-content {
    position: absolute;
    width: 1440px;
    height: 910px;
    left: 0px;
    top: 0px;

    background-image: url('./assets/img/bg/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}

.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 20px;      
}

.logo {
    width: 50px;
    height: 50px;
}


.icon:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
    position: absolute;
    height: 50px;
    left: 59.03%;
    right: 6.25%;
    top: 20px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height, or 250% */


    color: #FFFFFF;
}

.menu-list1 {
    position: absolute;
    height: 50px;
    left: 6%;
    right: 84.2%;
    top: 0px;
}



.menu-list2 {
    position: absolute;
    height: 50px;
    left: 21.8%;
    right: 62%;
    top: 0px;
}

.menu-list3 {
    position: absolute;
    height: 50px;
    left: 44%;
    right: 45%;
    top: 0px;
}

.menu-list4 {
    position: absolute;
    height: 50px;
    left: 61%;
    right: 29.4%;
    top: 0px;
}

.menu-list5 {
    position: absolute;
    height: 50px;
    left: 76.6%;
    right: 6.2%;
    top: 0px;
}


  
/*.menu-list1, .menu-list2, .menu-list3, .menu-list4, .menu-list5::before {
    content: '';
    position: absolute;
    left: 0; bottom: -5px;
    width: 0;
    height: 1.5px;
    background-color: #bdae82;
}
  
.menu-list1, .menu-list2, .menu-list3, .menu-list4, .menu-list5:hover:before {
    width: 100%;
}
  
.menu-list1, .menu-list2, .menu-list3, .menu-list4, .menu-list5::before {
    transition: width 0.35s;
}
*/
.switch-lng {
    position: absolute;
    height: 50px;
    left: 93.75%;
    right: 1.39%;
    top: 20px;

    color: #FFFFFF;
}

.switch-lang-en {
    position: absolute;
    width: 25px;
    height: 50px;
    left: calc(50% - 25px/2 - 22.5px);
    top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height, or 250% */

    text-align: center;

    color: #FFFFFF;
}

.switch-lang-en:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.switch-lang-ru {
    position: absolute;
    width: 22px;
    height: 50px;
    left: calc(50% - 22px/2 + 26px);
    top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height, or 250% */

    text-align: center;

    color: #FFFFFF;
}

.switch-lang-ru:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.switch-lng-def {
    position: absolute;
    width: 8px;
    height: 50px;
    left: calc(50% - 8px/2 + 3px);
    top: 0px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height, or 250% */
    
    text-align: center;
    
    color: #FFFFFF;
    
}

/* Hero */

.section-h {
    position: absolute;
    height: 330px;
    left: 5.56%;
    right: 59.72%;
    top: 250px;
}

.hero-title {
    position: absolute;
    height: 120px;
    left: 0%;
    right: 0%;
    top: 0px;

    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    /* identical to box height, or 200% */


    color: #FFFFFF;
}

.hero-text {
    position: absolute;
    height: 120px;
    left: 0%;
    right: 6%;
    top: 130px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */


    color: #FFFFFF;
}

.hero-button {
    position: absolute;
    height: 55px;
    left: 0%;
    right: 56%;
    top: 275px;

}

.btn1 {
    width: 220px;
    height: 55px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: #BDAE82;
    border: none;
    border-radius: 0px;
}

.hire-me {
    width: 75px;
    height: 40px;
    left: calc(50% - 75px/2 + 0.5px);
    top: 8px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #000000;
}

.hire-me:hover {
    filter: brightness(0) invert(1);
}
/* Hero section end*/

/* Skills */

#skills {
    position: absolute;
    width: 1440px;
    height: 482px;
    left: 0px;
    top: 910px;
}

.section-s {
    width: 1440px;
    height: 482px;
    
    margin: auto;
}

.section-title {

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin: auto;
    padding-top: 100px;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    width: 50%;
}

.bgH2 {
    display: block;
    margin: 0 285px;
    width: 150px;
    height: 80px;
    background-color: #000;
    text-align: center;
}

/*.skills-items1 {
    
    position: absolute;
    height: 242px;
    left: 1.39%;
    right: 1.39%;
    top: 240px;
}*/

/*RESERV 
.skills-items1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 240px;
    height: 242px;
}

.skills-item {
    position: absolute;
    height: 240px;
    left: 0%;
    right: 77.14%;
    top: 0px;
}

.camera1-pic {
    position: absolute;
    width: 62px;
    height: 50px;
    left: 129px;
    top: 0px;
}

.camera1-pic:hover {
    filter: brightness(0) invert(1);
}

.camera1-title {
    position: absolute;
    width: 280px;
    height: 40px;
    left: calc(50% - 280px/2);
    top: 100px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
     

     text-align: center;

     color: #FFFFFF;
 }
 
 .camera1-text {
     position: absolute;
     width: 280px;
     height: 72px;
     left: calc(50% - 280px/2);
     top: 160px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
    
 
     text-align: center;
 
     color: #FFFFFF;
 
 }
 
 .camera1-text {
     position: absolute;
     width: 280px;
     height: 72px;
     left: calc(50% - 280px/2);
     top: 160px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
    
 
     text-align: center;
 
     color: #FFFFFF;
 
 }
 
 .skills-item2 {
     position: absolute;
     height: 240px;
     left: 25.71%;
     right: 51.43%;
     top: 0px;
 }
 
 .video1-pic {
     position: absolute;
     width: 60px;
     height: 50px;
     left: 130px;
     top: 0px;
 
 }
 
 .video1-pic:hover {
     filter: brightness(0) invert(1);
 }
 
 .video1-title {
     position: absolute;
     width: 280px;
     height: 40px;
     left: calc(50% - 280px/2);
     top: 100px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 40px;
    
 
     text-align: center;
 
     color: #FFFFFF;
 }
 
 .video1-text {
     position: absolute;
     width: 280px;
     height: 72px;
     left: calc(50% - 280px/2);
     top: 160px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
     
 
     text-align: center;
 
     color: #FFFFFF;
 }
 
 .skills-item3 {
     position: absolute;
     height: 240px;
     left: 51.43%;
     right: 25.71%;
     top: 0px;
 }
 
 .image1-pic {
     position: absolute;
     width: 66px;
     height: 50px;
     left: 127px;
     top: 0px;
 }
 
 .image1-pic:hover {
     filter: brightness(0) invert(1);
 }
 
 .image1-title {
     position: absolute;
     width: 280px;
     height: 40px;
     left: calc(50% - 280px/2);
     top: 100px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 40px;
     
 
     text-align: center;
 
     color: #FFFFFF;
 }
 
 .image1-text {
     position: absolute;
     width: 280px;
     height: 72px;
     left: calc(50% - 280px/2);
     top: 160px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
     
 
     text-align: center;
 
     color: #FFFFFF;
 }
 
 .skills-item4 {
     position: absolute;
     height: 240px;
     left: 77.14%;
     right: 0%;
     top: 0px;
 }
 
 .mic1-pic {
     position: absolute;
     width: 32px;
     height: 50px;
     left: 144px;
     top: 0px;
 }
 
 .mic1-pic:hover {
     filter: brightness(0) invert(1);
 }
 
 .mic1-title {
     position: absolute;
     width: 280px;
     height: 40px;
     left: calc(50% - 280px/2);
     top: 100px;
     
     font-family: Inter;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 40px;
      identical to box height, or 200% 
     
     text-align: center;
     
     color: #FFFFFF;
 }
 
 .mic1-text {
     position: absolute;
     width: 280px;
     height: 72px;
     left: calc(50% - 280px/2);
     top: 160px;
     
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
      or 200% 
     
     text-align: center;
     
     color: #FFFFFF;
 }
 
 
 .skills-items1 {
     display: flex;
     
     justify-content: space-between;
     flex-wrap: wrap;
     top: 240px;
     height: 242px;
 }
 
 .skills-item {
     position: absolute;
     height: 240px;
     left: 0%;
     right: 77.14%;
     top: 0px;
 }
 
 .camera1-pic {
     position: absolute;
     width: 62px;
     height: 50px;
     left: 129px;
     top: 0px;
 }
 
 .camera1-pic:hover {
     filter: brightness(0) invert(1);
 }
 
 .camera1-title {
     position: absolute;
     width: 280px;
     height: 40px;
     left: calc(50% - 280px/2);
     top: 100px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 40px;
      identical to box height, or 200% 
 
     text-align: center;
 
     color: #FFFFFF;
 }
 
 .camera1-text {
     position: absolute;
     width: 280px;
     height: 72px;
     left: calc(50% - 280px/2);
     top: 160px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
      or 200% 
 
     text-align: center;
 
     color: #FFFFFF;
 
 }
 
 .skills-item2 {
     position: absolute;
     height: 240px;
     left: 25.71%;
     right: 51.43%;
     top: 0px;
 }
 
 .video1-pic {
     position: absolute;
     width: 60px;
     height: 50px;
     left: 130px;
     top: 0px;
 
 }
 
 .video1-pic:hover {
     filter: brightness(0) invert(1);
 }
 
 .video1-title {
     position: absolute;
     width: 280px;
     height: 40px;
     left: calc(50% - 280px/2);
     top: 100px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 40px;
      identical to box height, or 200% 
 
     text-align: center;
 
     color: #FFFFFF;
 }
 
 .video1-text {
     position: absolute;
     width: 280px;
     height: 72px;
     left: calc(50% - 280px/2);
     top: 160px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
      or 200% 

     text-align: center;
 
     color: #FFFFFF;
 }
 
 .skills-item3 {
     position: absolute;
     height: 240px;
     left: 51.43%;
     right: 25.71%;
     top: 0px;
 }
 
 .image1-pic {
     position: absolute;
     width: 66px;
     height: 50px;
     left: 127px;
     top: 0px;
 }
 
 .image1-pic:hover {
     filter: brightness(0) invert(1);
 }
 
 .image1-title {
     position: absolute;
     width: 280px;
     height: 40px;
     left: calc(50% - 280px/2);
     top: 100px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 40px;
      identical to box height, or 200% 
 
     text-align: center;
 
     color: #FFFFFF;
 }
 
 .image1-text {
     position: absolute;
     width: 280px;
     height: 72px;
     left: calc(50% - 280px/2);
     top: 160px;
 
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
     
 
     text-align: center;
 
     color: #FFFFFF;
 }
 
 .skills-item4 {
     position: absolute;
     height: 240px;
     left: 77.14%;
     right: 0%;
     top: 0px;
 }
 
 .mic1-pic {
     position: absolute;
     width: 32px;
     height: 50px;
     left: 144px;
     top: 0px;
 }
 
 .mic1-pic:hover {
     filter: brightness(0) invert(1);
 }
 
 .mic1-title {
     position: absolute;
     width: 280px;
     height: 40px;
     left: calc(50% - 280px/2);
     top: 100px;
     
     font-family: Inter;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 40px;
      identical to box height, or 200% 
     
     text-align: center;
     
     color: #FFFFFF;
 }
 
 .mic1-text {
     position: absolute;
     width: 280px;
     height: 72px;
     left: calc(50% - 280px/2);
     top: 160px;
     
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
     
     
     text-align: center;
     
     color: #FFFFFF;
}
*/



.skills-items {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    width: 1440px;
    flex-wrap: wrap;
}


.skills-item {
    background-position: center top;
}


.skills-item:nth-child(1) {
    background-image: url('./assets/svg/camera-1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

/*.skills-item1:nth-child(1):hover {
    filter: brightness(0) invert(1);
}*/
.camera1-title {
    width: 280px;
    height: 40px;
    margin-left: calc(50% - 280px/2);
    margin-top: 100px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}

.camera1-text {
    width: 280px;
    height: 72px;
    left: calc(50% - 280px/2);
    top: 160px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */

    text-align: center;

    color: #FFFFFF;
}

.skills-item {
    background-position: center top;
    

}

.skills-item:nth-child(2) {
    background-image: url('./assets/svg/video-1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.video1-title {
    width: 280px;
    height: 40px;
    left: calc(50% - 280px/2);
    margin-top: 100px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */
    
    text-align: center;
    
    color: #FFFFFF;
}

.video1-text {
    width: 280px;
    height: 72px;
    left: calc(50% - 280px/2);
    top: 160px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */

    text-align: center;

    color: #FFFFFF;
}

.skills-item:nth-child(3) {
    background-image: url('./assets/svg/image-1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.image1-title {
    width: 280px;
    height: 40px;
    margin-left: calc(50% - 280px/2);
    margin-top: 100px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}

.image1-text {
    width: 280px;
    height: 72px;
    left: calc(50% - 280px/2);
    top: 162px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */

    text-align: center;

    color: #FFFFFF;
}

.skills-item:nth-child(4) {
    background-image: url('./assets/svg/mic-1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.mic1-title {
    width: 280px;
    height: 40px;
    margin-left: calc(50% - 280px/2);
    margin-top: 100px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}

.mic1-text {
    width: 280px;
    height: 72px;
    left: calc(50% - 280px/2);
    top: 160px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */

    text-align: center;

    color: #FFFFFF;
}

/* Skills section end */
/* Portfolio section */

#portfolio {
    position: absolute;
    width: 1440px;
    height: 1500px;
    left: 0px;
    top: 1392px;
}

.section-p {
    width: 1440px;
    height: 1500px;

    margin: auto;
}

.section-title {

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin: auto;
    padding-top: 100px;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    width: 50%;
}

.bgH2-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 80px;
    background-color: #000;
    text-align: center;
}

/* Portfolio btns */ 

/*.portfolio-btns {
    position: absolute;
    width: 895px;
    height: 55px;
    left: 272px;
    top: 240px;
}*/

.portfolio-btns {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 60px;
}

.btn2 {
    width: 220px;
    height: 55px;
    left: calc(50% - 220px/2 - 330px);
    top: calc(50% - 55px/2 + 253.5px);
    background-color: #000;

    border:1px solid #BDAE82;
}

.btn2-style {
    width: 62px;
    height: 40px;
    left: calc(50% - 62px/2);
    top: calc(50% - 40px/2 + 0.5px);

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #BDAE82;
}

.btn2-style:hover {
    filter: brightness(0) invert(1);
}

.btn3 {
    
    width: 220px;
    height: 55px;
    left: calc(50% - 220px/2 - 113px);
    top: calc(50% - 55px/2 - 482.5px);
    background-color: #000;

    border: 1px solid #BDAE82;
}

.btn3-style {
    width: 62px;
    height: 40px;
    left: calc(50% - 62px/2);
    top: calc(50% - 40px/2 + 0.5px);

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #BDAE82;
}

.btn3-style:hover {
    filter: brightness(0) invert(1);
}

.btn4 {
    width: 220px;
    height: 55px;
    left: calc(50% - 220px/2 + 112px);
    top: calc(50% - 55px/2 - 482.5px);
    background-color: #000;

    border: 1px solid #BDAE82;
}

.btn4-style {
    width: 82px;
    height: 40px;
    left: calc(50% - 81px/2 - 0.5px);
    top: calc(50% - 40px/2 + 0.5px);
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #BDAE82;
}

.btn4-style:hover {
    filter: brightness(0) invert(1);
}

.btn5 {
    width: 220px;
    height: 55px;
    left: calc(50% - 220px/2 + 337px);
    top: calc(50% - 55px/2 - 482.5px);
    background-color: #000;

    border: 1px solid #BDAE82;
}


.btn5-style {
    width: 82px;
    height: 40px;
    left: calc(50% - 81px/2 - 0.5px);
    top: calc(50% - 40px/2 + 0.5px);
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #BDAE82;
}

.btn5-style:hover {
    filter: brightness(0) invert(1);
}

.portfolio-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    
    height: 1145px;
    left: 1.39%;
    right: 1.39%;
    top: 355px;

}

.section-v {
    
    position: absolute;
    width: 1440px;
    height: 945px;
    left: 0px;
    top: 2892px;
}

.section-title {

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin: auto;
    padding-top: 100px;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    width: 50%;
}

.bgH2-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 80px;
    background-color: #000;
    text-align: center;
}

.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-button-pic {
    position: absolute;
    width: 129.86px;
    height: 130px;
    top: 288px;
}

.player-button-pic:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(100%)
    contrast(87%);
    
}

/* PRICE SECTION */

.section-price {
    position: absolute;
    width: 1440px;
    height: 845px;
    left: 0px;
    top: 3837px;
}

.bgH2-4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 80px;
    background-color: #000;
    text-align: center;
}

.price-items {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 1400px;
    height: 505px;
    margin-left: 20px;
    margin-top: 60px;
}

.price-item1 {
    display: block;
    height: 505px;
    width: 673px;
    top: 240px;

    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.price-item1-title {
    display: block;
    width: 128px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}

.price-item1-cost {
    display: block;
    width: 69px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    top: 119px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #BDAE82;
}

.price-item1-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    
    top: 187px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}

.price-item3 {
    display: block;
    height: 505px;
    width: 673px;
    top: 240px;

    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.price-item3-cost {
    display: block;
    width: 81px;
    height: 48px;
    
    top: 119px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #BDAE82;
}


.btn6 {
    display: block;
    width: 220px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    background: #BDAE82;
    border-radius: 0px;
    border: none;
}

.btn6-style {
    
    display: block;
    width: 142px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    top: 8px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #000000;
}

.btn6-style:hover {
    filter: brightness(0) invert(1);
}

.price-item2 {
    display: block;
    height: 505px;
    width: 673px;
    top: 240px;

    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.price-item2-title {
    display: block;
    width: 128px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}

.price-item2-cost {
    display: block;
    width: 69px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    top: 119px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #BDAE82;
}

.price-item2-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    
    top: 187px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}



.btn7 {
    display: block;
    width: 220px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    background: #BDAE82;
    border-radius: 0px;
    border: none;
}

.btn7-style {
    
    display: block;
    width: 142px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    top: 8px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #000000;
}

.btn7-style:hover {
    filter: brightness(0) invert(1);
}

.price-item3 {
    display: block;
    height: 505px;
    width: 673px;
    top: 240px;

    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.price-item3-title {
    display: block;
    width: 128px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}

.price-item3-cost {
    display: block;
    width: 69px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    top: 119px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #BDAE82;
}

.price-item3-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    
    top: 187px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}



.btn8 {
    display: block;
    width: 220px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    background: #BDAE82;
    border-radius: 0px;
    border: none;
}

.btn8-style {
    
    display: block;
    width: 142px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    top: 8px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #000000;
}

.btn8-style:hover {
    filter: brightness(0) invert(1);
}

.section-c {
    position: absolute;
    width: 1440px;
    height: 700px;
    left: 0px;
    top: 4682px;

    background: url('./assets/img/bg/contacts.jpg');
    background-size: auto 700px;
    background-position: center center;
}



.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    width: 450px;
    height: 445px;
    left: 970px;
    top: 160px;
}

.contacts-title {
    position: absolute;
    width: 450px;
    height: 80px;
    left: calc(50% - 450px/2 + 475px);
    top: 60px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    /* identical to box height, or 200% */


    color: #BDAE82;

}

.contact-email {
    display: block;
    height: 50px;
    left: 67.36%;
    right: 1.39%;
    top: 180px;

    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.contact-tel {
    display: block;
    height: 50px;
    left: 67.36%;
    right: 1.39%;
    top: 250px;

    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.contact-message {
    display: block;
    height: 100px;
    left: 67.36%;
    right: 1.39%;
    top: 320px;

    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

#colortext-1, #colortext-2, #msg {
    color: #BDAE82; /* Цвет текста в инпуте*/
}

.input-button {
    display: block;
    height: 55px;
    
    left: 67.36%;
    right: 17.36%;
    top: 450px;
}

.btn9 {
    display: block;
    height: 55px;
    width: 220px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: #BDAE82;
    border: none;
}

.btn9-style {
    display: block;
    width: 140px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    top: 8px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #000000;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 5382px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-user-github {
    position: absolute;
    height: 50px;
    left: 1.39%;
    right: 85.97%;
    top: calc(50% - 50px/2);
}

.footer-rsschool-link {
    position: absolute;
    height: 50px;
    left: 42.71%;
    right: 42.64%;
    top: calc(50% - 50px/2);

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height, or 250% */


    color: #FFFFFF;
}

.footer-social-list {
    position: absolute;
    width: 188px;
    height: 50px;
    left: 1232px;
    top: 50px;
}